body {
  font-family: 'Tangerine', cursive;
  font-size: 30px;
  background-color: ivory;
  color: red;
}

body a {
  color: inherit;
}

/*
li {
  color: teal;
}*/

li:hover {
  color: green;
}

.box{
  height: 100px;
  width: 200px;
  background-color: #fff;
  outline: auto;
  /* margin: 0; */
  display: inline-block;
}
